body{
    background-color: #6D7B8D;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}
#container{
    color: silver;
}
.digit{
    font-size: 130px;
    font-weight: bold;
}
.txt{
    font-size: 50px;
    font-weight: bold;
}
#butt{
    text-align: center;
    margin-top: 30px;
}
.btn{
    padding: 7px 25px;
    margin: 0px 10px;
    color: whitesmoke;
    cursor: pointer;
    border: 0px;
}
#start{
    background-color: green;

}
#stop{
    background-color: blueviolet;

}
#reset{
    background-color: darkmagenta;

}